@model IEnumerable<DataLayer.Product_Comments>

@{ 
    DataLayer.JanaFandEntities db = new DataLayer.JanaFandEntities();
} 


@if (Model.Any())
{
<div class="col-12 animation" data-animation="fadeInUp" data-animation-delay="0.04s">

    <div class="testimonial_slider testimonial_style1 carousel_slide3 owl-carousel owl-theme fl"
         data-margin="30" data-loop="true" data-autoplay="true" data-dots="false">
        @foreach (var item in Model.Where(c => c.PersonID == null))
        {
            <div class="testimonial_box">
                <div class="testi_desc">
                    <p>
                        @item.Comment
                    </p>
                </div>
                <div class="testi_meta">
                    <div class="testimonial_img">
                        <img src="~/Content/assets/images/NoPerson.png" alt="@item.Name">
                    </div>
                    <div class="testi_user">
                        <h5>@item.Name</h5>

                        <span>

                        </span>

                    </div>
                </div>
            </div>
        }


    </div>
</div>
}