@model IEnumerable<DataLayer.Products>



<div class="widget">
    <h5 class="widget_title">محصولات جدید</h5>
    <ul class="recent_post border_bottom_dash list_none">
        @foreach (var item in Model)
        {

            <li>
                <div class="post_img">
                    <a href="#"><img src="~/Images/ProductImages/Thumb/@item.ImageName" style="height:80px" alt="shop_small1"></a>
                </div>
                <div class="post_content">
                    <h6><a href="/ProductView/@item.ProductID">@item.ProductTitle</a></h6>

                    <div class="product_price">
                        <span class="price">@item.Price.ToString("#,0") تومان</span>

                        @if (item.OldPrice != null)
                        {
                            <span style="text-decoration:line-through;	font-weight: 600;display:flex; font-size:14px" class="text-danger">@item.OldPrice.Value.ToString("#,0") تومان</span>

                        }
                    </div>
                    <div class="add-to-cart"><a href="#" onclick="AddToCart(@item.ProductID)"><i class="ti-shopping-cart  "></i> افزودن به سبد خرید</a></div>
                </div>
            </li>
        }


    </ul>
</div>
