@model DataLayer.Products
  @{
      DataLayer.JanaFandEntities db = new DataLayer.JanaFandEntities();
  }


<div class="row align-items-center justify-content-between pb-1 mb-4">


    <div class="col-auto">
        <div class="list_grid_icon">
            <a href="javascript:Void(0);" class="shorting_icon grid_view"><i class="ion-grid"></i></a>
            <a href="javascript:Void(0);" class="shorting_icon list_view active"><i class="ion-navicon-round"></i></a>
        </div>
    </div>
</div>
