
@{
    ViewBag.Title = "ثبت نام";
    ViewBag.AccountName = "ثبت نام";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}



<div class="alert alert-success">
    <h4>@ViewBag.UserName عزیز !</h4>
    <p>حساب کاربری شما با موفقیت فعال گردید ، جهت ورود به سایت بر روی 
    
    <a href="/LogIn">لینک</a>

      کلیک کنید.  </p>
</div>
