
@model DataLayer.Users
@{
    ViewBag.Title = "بازیابی گذرواژه";
    ViewBag.AccountName = "بازیابی گذرواژه";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="alert alert-success">
    <h4>@Model.UserName عزیز  ! </h4>
    <p>ایمیلی حاوی لینک بازیابی گذرواژه به این ایمیل @Model.Email ارسال شد ، لطفا وارد ایمیل فوق شوید و روی لینک بازیابی گذرواژه کلیک کنید. </p>
</div>

