
@using System.Configuration
@model DataLayer.Users

<div style="direction:rtl; padding: 20px ">

    <h2> @Model.UserName عزیز !</h2>

    <p>جهت تغییر گذرواژه خود بر روی لینک زیر کلیک کنید.</p>

    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/RecoveryPassword/@Model.ActiveCode">لینک تغییر گذرواژه</a>
    </p>
</div>


